# Obtenla gratis en: https://aistudio.google.com/
GEMINI_API_KEY=tu_clave_de_google_ai_studio_aqui

# Nombre de usuario de TikTok (sin el @) que está actualmente en DIRECTO
TIKTOK_USERNAME=usuario_de_tiktok_aqui

# Nombre de la voz de Microsoft Edge TTS
# Recomendadas:
# es-CO-GonzaloNeural (Hombre, muy natural)
# es-CO-SalomeNeural (Mujer)
# es-MX-JorgeNeural (Hombre México)
# es-MX-DaliaNeural (Mujer México)
# es-ES-AlvaroNeural (Hombre España)
# es-ES-ElviraNeural (Mujer España)
VOICE_NAME=es-CO-GonzaloNeural
